NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_SITE_NAME=Mini Mystic Palette
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/mini.mystic.palette/
NEXT_PUBLIC_YOUTUBE_URL=https://youtube.com/@minimysticpalette?si=jXWQiWe0dD4yqFVh
NEXT_PUBLIC_EMAIL=minimysticpalette@gmail.com
NEXT_PUBLIC_GOOGLE_FORM_URL=
NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=oleopm7s
